<div class="sc-container">
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text"><%= @total_cost %></span>
      </div>
    </div> <!--end shopping-cart-header -->

    <h5 align="center" style="padding-top:10px; color:gray;">
      It looks like you have no items in cart &#9785;
    </h5>

    <!-- <ul class="shopping-cart-items" style="list-style: none;"> -->

      <!-- <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
        <span class="sc-item-name">KS Automatic Mechanic...</span>
        <span class="sc-item-price">$1,249.99</span>
        <span class="sc-item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
        <span class="sc-item-name">Kindle, 6" Glare-Free To...</span>
        <span class="sc-item-price">$129.99</span>
        <span class="sc-item-quantity">Quantity: 01</span>
      </li> -->
    <!-- </ul> -->
    <div class="row">
      <div class="col-sm-6">
        <a href="#" class="button" style="color:white;text-decoration:none;">View Cart</a>
      </div>
      <div class="col-sm-6">
        <a href="#" class="button" style="color:white;text-decoration:none;">Checkout</a>
      </div>
    </div>
  </div> <!--end shopping-cart -->
</div> <!--end container -->
