<div class="card" style="height: 104px;">
  <h4 class="card-header" style="text-align: center; font-size: 14px;"><%= title %></h4>
  <h1 class="card-focus"><%= focus %><a href="<%= path %>"><span class="glyphicon glyphicon-arrow-right"></span></a></h1>
</div>
