<div class="card" style="width: 50%; height: 400px;">
  <div id="revenue-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<script type="text/javascript">

  Highcharts.getOptions().plotOptions.pie.colors = (function () {
    var colors = [],
        base = '#f981b2',
        i;

    for (i = 0; i < 10; i += 1) {
        // Start out with a darkened base color (negative brighten), and end
        // up with a much brighter color
        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
    }
    return colors;
  }());

  // Build the chart
  Highcharts.chart('revenue-container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Division of Revenue by Category'
    },
    subtitle: {
        text: '(excluding shipping costs)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}% (${point.y})</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Revenue',
        data: [
            { name: 'Boards', y: <%= @boards_revenue %> },
            { name: 'Pieces', y: <%= @pieces_revenue %> },
            { name: 'Clocks', y: <%= @clocks_revenue %> },
            { name: 'Supplies', y: <%= @supplies_revenue %> }
        ]
    }]
  });

</script>
