<div class="row">
	<div class="col-sm-8">
		<h2>Contact The Primary Chess Store</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Jason Chang</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("chihsenc@andrew.cmu.edu", "Jason Chang", :encode => "javascript") %>
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-273-2778</td>
			</tr>
		</table>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
