<div id='welcome-text'>
  <h1>Primary Chess Store</h1>
  <h5>Our chess store serves schools that need chess supplied with high quality at a low price.</h5>
  <div class="row">
    <div class="col-sm-2">
      <%= link_to "Login", login_path, :class => "btn btn-large home-buttons inline" %>
    </div>
    <div class="col-sm-2">
      <%= link_to "Sign Up", new_user_path, :class => "btn btn-large home-buttons inline" %>
    </div>
  </div>
</div>
