<div class="row">
  <div class="col-sm-12">
    <% if @items_in_cart.empty? %>
      <h4 class="empty-cart-msg">Your cart is empty. Buy something! &#9786;</h4>
    <% else %>
      <%= render partial: "cart_table" %>
      <div class="row cart-actions">
        <div class="col-sm-5">
          <%= link_to "Empty Cart", empty_cart_path, method: :post, class: "btn btn-primary", style: "width: 100%" %>
        </div>
        <div class="col-sm-5">
          <%= link_to "Checkout", checkout_path, class: "btn btn-primary", style: "width: 100%" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
