<h1>Internal Server Error!</h1>
<div class="row">
  <div class="col-sm-8">
    <p>Sorry, an internal server error has occurred. Please be patient while we get it fixed! If you would like to give us feedback or express your complaints, please shoot us an <%= mail_to("chihsenc@andrew.cmu.edu", "email", :encode => "javascript") %>!</p>
  </div>
</div>
