<h1>Page not found!</h1>
<div class="row">
  <div class="col-sm-8">
    <p>Sorry, the page you have requested was not found. Please make sure you have types in the address correctly. If you believe that there is a server error, please shoot us an <%= mail_to("chihsenc@andrew.cmu.edu", "email", :encode => "javascript") %>!</p>
  </div>
</div>
