<%= simple_nested_form_for @item, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <h3 align="center">New Item Form</h3>
  <br />

  <%= render partial: "main_item_form", locals: {f: f} %>
  <br />

  <div class="row form-actions" style="width: 73%; margin: 0 auto;">
    <div class="col-sm-6">
      <%= f.submit nil, :class => 'btn btn-primary', :style => "margin-left: 0px;width: 100%;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'Cancel', items_path, :class => 'btn btn-primary', :style => "width: 100%;" %>
    </div>
  </div>
  <br />
  <br />
<% end %>
