<div class="card" id="manufacturer-list">
  <h4 class="card-header">Manufacturer Price History</h4>
  <% unless @manufacturer_price_history.empty? %>
  <div class="card-block">
    <table class="ph">
      <tr class="ph-heading">
        <th>Price</th>
        <th>Start Date</th>
      </tr>
      <% @manufacturer_price_history.each do |change| %>
        <tr>
          <td><%= number_to_currency change.price %></td>
          <td><%= change.start_date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </table>
    <br />
  </div>
  <% else %>
  <p style="color: #ABB0BE;">No Manufacturer Price History</p>
  <% end %>
  <%= link_to(new_item_price_path(item_id: @item.id, category: 'manufacturer', id: 'new_manu_ip_link'), id: 'new_manu_ip_link', class: 'btn btn-primary', remote: true) do %>
    Add Manufacturer Price
  <% end %>
</div>
