<% unless @similar_items.empty? %>
<div class="similar-items-container">
  <table class="similar-items">
    <tr>
      <% @similar_items.each do |item| %>
        <td align="center">
          <div class="sim-img-content">
            <div class="sim-item-img">
              <%= link_to image_tag(item.picture, :alt => item.name), item_path(item) %>
            </div>
            <p class="sim-item-name"><strong><%= link_to item.name, item_path(item) %></strong></p>
            <p class="sim-item-price"><%= number_to_currency item.current_price %></p>
            <!-- <i class="material-icons add">add</i> -->
          </div>
        </td>
      <% end %>
    </tr>
  </table>
</div>

  <!-- <div class="panel clearfix">
    <h3>Similar Items</h3>
    <ul>
      <% @similar_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div> -->
<% end %>
