<% unless @similar_items.empty? %>
<div class="card similar-items-container">
  <table class="similar-items">
    <caption>Similar Items</caption>
    <tr>
      <% @similar_items.each do |item| %>
        <td align="center">
          <div class="sim-img-content">
            <div class="sim-item-img">
              <% unless item.picture %>
                <%= link_to image_tag('placeholder.jpg', :alt => item.name), item_path(item) %>
              <% else %>
                <%= link_to image_tag(item.picture, :alt => item.name), item_path(item) %>
              <% end %>
            </div>
            <p class="sim-item-name"><strong><%= link_to item.name, item_path(item) %></strong></p>
            <p class="sim-item-price"><%= number_to_currency item.current_price %></p>
          </div>
        </td>
      <% end %>
    </tr>
  </table>
</div>
<% end %>
