/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 *= require font-awesome.min
 *= require simple_form
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 // @import "semantic-ui";

small.error {
 margin-left: 0px;
}

#under-heading-content {
 margin-top: 80px;
}

a {
 color: #656EA9;
}

// Alert Box

.alert-box {
  position: absolute;
  width: 93%;
  margin: 0 auto;
  margin: 30px 0 0 20px;
  top: 77%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 7px;
  border-radius: 3px;
  color: white;
  background-color: #f981b2;
  text-align: center;
}

a.close {
  padding-bottom: 5px;
  padding-right: 10px;
}

// Code from P5 Starter

.tl_name {
  width: 225px;
  display: block;
  position: absolute;
}

.tl_date {
  width: 65px;
  display: block;
  position: absolute;
  margin-left: 250px;
}

.tl_controls {
  width:  68px;
  display: block;
  margin-left: 330px;
}

.project_item {
  background-color: #d1ecfb;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-bottom: 10px;
}

.supertiny {
  font-size:5px;
  text-decoration:none;
}

.add_link {
  font-size:75%;
  font-style: normal;
  font-weight: normal;
}

// Home Page (not logged in)

#title_area {
  background-color: #ffffff;
}

#main_content {
  margin-top: 10px;
}

#footer {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color:#ffffff;
  color: #6493ba;
  text-align: center;
}

#footer a {
  color: #7f9eb8;
  text-decoration: none;
}

#footer a:hover {
  color: #7f9eb8;
  text-decoration: underline;
}

#copy {
  font-size: 85%;
}

.note {
  font-style: italic;
  font-size: 80%;
}

li.well {
  list-style-type: none;
  margin-left: -10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

label {
  padding-right: 4px;
}

// Sidebar

.nav-sidebar {
	margin-right: -15px;
	margin-left: -20px;
  text-align: left;
}

.sidebar {
	z-index: 1000;
	float: left;
	text-align: center;
	top: 0; left: 0; bottom: 0;
	position: fixed;
	min-height: 100%;
	padding-top: 4px;
	background-color: #0B1443; /* For browsers that do not support gradients */
	// background: -webkit-linear-gradient(left top, #0B1443, #4B548D); /* For Safari 5.1 to 6.0 */
	// background: -o-linear-gradient(bottom right, #0B1443, #4B548D); /* For Opera 11.1 to 12.0 */
	// background: -moz-linear-gradient(bottom right, #0B1443, #4B548D); /* For Firefox 3.6 to 15 */
	// background: linear-gradient(to bottom right, #0B1443, #4B548D); /* Standard syntax (must be last) */
}

.sidebar-logo img {
  max-width: 90%;
  margin-top: 15px;
  margin-bottom: 280px;
}

#main-sidebar .nav li a {
	font-family: 'Open Sans', sans-serif;
	color: white;
  font-size: 1.3em;
  padding-left: 30px;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#main-sidebar .nav > li > a:hover, #main-sidebar .nav > li > a:focus {
  background-color: #2442DC;
  text-decoration: none;
  padding-left: 40px;
}

#main-sidebar .nav > li > a {
  padding-left: 30px;
}

#main-sidebar .nav li {
  width: 100%;
}

#main-sidebar .nav a.logout-btn {
	font-family: 'Open Sans', sans-serif;
	width: 85%;
  margin-left: 20px;
  // margin-top: 20px;
  position: absolute;
  bottom: 2%;
	background-color: transparent;
	border-color: white;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#main-sidebar .nav a.logout-btn:hover {
	background-color: white;
	border-color: white;
	color: black;
}

.main-signed-out {
  position: absolute;
  align-content: center;
  padding-left: 2%;
  background: image-url("background_1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.main-signed-in {
  // background-color: #FFC5DD;
}

#welcome-text {
  color: white;
  margin: 90px 0 0 30px;
  animation: welcome_fadein 0.5s;
  -moz-animation: welcome_fadein 0.7s; /* Firefox */
  -webkit-animation: welcome_fadein 0.7s; /* Safari and Chrome */
}

#welcome-text h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5em;
  font-weight: 800;
}

#welcome-text h5 {
  font-family: 'EB Garamond', serif;
  font-size: 1.4em;
  margin-top: -30px;
}

@keyframes welcome_fadein {
    from { opacity: 0; margin-top:80px; }
    to { opacity: 1; margin-top:90px; }
}
@-moz-keyframes welcome_fadein { /* Firefox */
    from { opacity: 0; margin-top:80px; }
    to { opacity: 1; margin-top:90px; }
}
@-webkit-keyframes welcome_fadein { /* Safari and Chrome */
    from { opacity: 0; margin-top:80px; }
    to { opacity: 1; margin-top:90px; }
}

.home-buttons {
  margin-top: 80px;
  background-color: transparent;
	border-color: white;
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: white;
}

.home-buttons:hover {
  background-color: white;
  border-color: white;
  color: black;
}

#register body, #login body {
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

#login strong { font-weight: 500; }

#login a, #login a:hover, #login a:focus {
	color: #19b9e7;
	text-decoration: none;
  -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#login h1, #login h2 {
	margin-top: 10px;
	font-size: 38px;
  font-weight: 100;
  color: white;
  line-height: 50px;
}

h3 #login-title {
	font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 30px;
}

#login p {
  font-size: 16px;
}

#login img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


#login .btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#login .btn-link-1:hover, #login .btn-link-1:focus, #login .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

#login .btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

#login .btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#login .btn-link-2:hover, #login .btn-link-2:focus,
#login .btn-link-2:active, #login .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

#login .inner-bg {
    padding: 60px 0 80px 0;
}

#login .top-content .text {
	color: #fff;
}

#login .top-content .text h1 { color: #fff; }

#login .top-content .description {
	margin: 20px 0 10px 0;
}

#login .top-content .description p { opacity: 0.8; }

#login .top-content .description a {
	color: #fff;
}
#login .top-content .description a:hover,
#login .top-content .description a:focus { border-bottom: 1px dotted #fff; }

#login .form-box.top {
  width: 80%;
  margin-top: 13%;
  margin-left: 15%;
  animation: login_fadein 0.5s;
  -moz-animation: login_fadein 0.7s; /* Firefox */
  -webkit-animation: login_fadein 0.7s; /* Safari and Chrome */
}

@keyframes login_fadein {
    from { opacity: 0; margin-top: 15%; }
    to { opacity: 1; margin-top: 13%; }
}
@-moz-keyframes login_fadein { /* Firefox */
    from { opacity: 0; margin-top: 15%; }
    to { opacity: 1; margin-top: 13%; }
}
@-webkit-keyframes login_fadein { /* Safari and Chrome */
    from { opacity: 0; margin-top: 15%; }
    to { opacity: 1; margin-top: 13%; }
}

#login .form-box.middle {
  width: 80%;
  margin-top: 23%;
  margin-left: 15%;
  animation: register_fadein 0.5s;
  -moz-animation: register_fadein 0.7s; /* Firefox */
  -webkit-animation: register_fadein 0.7s; /* Safari and Chrome */
}

@keyframes register_fadein {
    from { opacity: 0; margin-top: 25%; }
    to { opacity: 1; margin-top: 23%; }
}
@-moz-keyframes register_fadein { /* Firefox */
    from { opacity: 0; margin-top: 25%; }
    to { opacity: 1; margin-top: 23%; }
}
@-webkit-keyframes register_fadein { /* Safari and Chrome */
    from { opacity: 0; margin-top: 25%; }
    to { opacity: 1; margin-top: 23%; }
}

#login .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

#login .form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

#login .form-top-left h3 { margin-top: 0; }

#login .form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

#login .form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

#login .form-bottom form textarea {
	height: 100px;
}

#login .form-bottom form .btn {
	width: 100%;
}

#login .form-bottom form .input-error {
	border-color: #19b9e7;
}

#login .social-login {
	margin-top: 35px;
}

#login .social-login h3 {
	color: #fff;
}

#login .social-login-buttons {
	margin-top: 25px;
}

#login .form-control {
  padding: 2px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	#login .middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

}

@media (max-width: 415px) {

	#login h1, #login h2 { font-size: 32px; }

}

#login input[type="text"],
#login input[type="password"],
#login textarea,
#login textarea.form-control {
	height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fff;
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#login textarea,
#login textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

#login input[type="text"]:focus,
#login input[type="password"]:focus,
#login textarea:focus,
#login textarea.form-control:focus {
	outline: 0;
	background: #fff;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

#login input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
#login textarea:-moz-placeholder, #login textarea.form-control:-moz-placeholder { color: #888; }

#login input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
#login textarea:-ms-input-placeholder, #login textarea.form-control:-ms-input-placeholder { color: #888; }

#login input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
#login textarea::-webkit-input-placeholder, #login textarea.form-control::-webkit-input-placeholder { color: #888; }

#login .btn {
	height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #656EA9;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#login .btn:hover { opacity: 0.6; color: #fff; }

#login .btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

#login .btn:focus { outline: 0; opacity: 0.6; background: #a1a3af; color: #fff; }

#login .btn:active:focus, #login .btn.active:focus { outline: 0; opacity: 0.6; background: #a1a3af; color: #fff; }

// Items Index Page

#items-table-container {
  width: 93%;
  margin: 0 auto;
}

#items-table-container ul.nav.nav-pills.nav-fill {
  width: 70%;
  margin: 0 auto;
}

#items-table-container ul.nav.nav-pills.nav-fill li.active a {
  background-color: #f981b2;
}

#items-table-container ul.nav.nav-pills.nav-fill li:not(.active) a {
  color: #f981b2;
}

#items-table-container ul.nav.nav-pills.nav-fill li {
  width: 19.75%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

table.items {
  border-spacing: 0px 30px;
  border-collapse: separate;
  width: 100%;
  margin-top: -10px;
}

table.items td {
  width: 250px;
  margin-top: 30px;
  vertical-align: top;
  align-content: center;
}

table.items td img, .img-content {
  width: 250px;
}

.img-content {
  position: relative;
  width: 50%;
}

table.items td img {
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item-img {
    display: inline-block;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.item-img img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.item-img:hover {
    // background-color: #FFC5DD;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.item-img img:hover,
.item-img:hover .item-img img, img ~ .add-to-cart-btn:hover {
    // opacity: 0.3;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.add-to-cart-btn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 88%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.item-img:hover .item-img img {
  opacity: 0.3;
}

.item-img:hover .add-to-cart-btn {
  opacity: 0.8;
}

.item-img .text {
  background-color: #f981b2;
  color: white;
  font-size: 1em;
  padding: 10px 32px;
  text-align: center;
}

a.add-to-cart-btn:hover {
  text-decoration: none;
  .text {
    background-color: #f981b2;
    opacity: 0.8;
  }
}

a.add-to-cart-btn:focus .text {
  background-color: #707070;
}

.sc-item-name a {
  color: black;
}

.item-name {
  margin-top: 3px;
  font-family: 'EB Garamond', serif;
  font-size: 1.3em;
  width: 70%;
  float: left;
  text-align: left;
  line-height: 1.2;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.item-name a {
  color: black;
}

.item-name:hover {
  text-decoration: underline;
}

.img-content {
  width: 250px;
}

.item-price {
  margin-top: 1px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #f981b2;
  float:right;
  margin-left: 17px;
}

.add-item-btn {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  margin-left: 83%;
  background-color: #656EA9;
  border: 0px;
  width: 12.8%;
}

.add-item-btn:hover {
  background-color: #656EA9;
  opacity: 0.8;
}

.add-item-btn:focus {
  background-color: #707070;
}

/* Top Navbar */

.col-sm-12.topnav {
  padding-left: 0px;
}

.navbar {
  border: none;
  position: absolute;
  width: 100%;
}

.navbar-default {
  background-color: lightgray;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 7px;
  vertical-align: middle;
}

.navbar-default .navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  color: #0B1443;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-brand {
  padding-top: 18px;
}

// Cart Dropdown

#cart {
  margin-right: 20px;
  margin-top: 9px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  color: black;
}

#cart.badge {
  margin-bottom: 2px;
}

$main-color: #656EA9;
$light-text: #ABB0BE;

*, *:before, *:after {
  box-sizing: border-box;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: $main-color;
}

.shopping-cart-items ul {

  li {
    display: inline;
    a {
      color: #777777;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}

.sc-container {
  margin: auto;
  margin-top: 35px;
  margin-right: 17px;
  width: 80%;
  background-color: #d3cfcf;
  position: relative;
}

.badge {
    background-color: #0B1443;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  display:none;
  margin: 20px 0;
  right: 0px;
  float: right;
  background: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  z-index: 99 !important;
  background-color: #f1f2f6;

  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {

    padding-top: 20px;

      li {
        margin-bottom: 30px;
      }

    img {
      float: left;
      margin-right: 12px;
    }

    .sc-item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }

    .sc-item-price {
      color: $main-color;
      margin-right: 8px;
    }

    .sc-item-quantity {
      color: $light-text;
    }
  }

}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #f1f2f6;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;

  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul.shopping-cart-items {
  margin-left: -35px;
}

// Item Show Page

.show-container {
  width: 90%;
  margin: 0 5% 0 8%;
}

table.item-show-body {
  margin-left: -8px;
  border-spacing: 29px 30px;
  border-collapse: separate;
  width: 91.5%;
}

td.item-show-img {
  width: 31.7%;
  position: relative;
  margin: 2%;
  overflow: hidden;
}

td.item-show-img img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

td.item-show-img:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

td.item-show-info {
  position: relative;
}

h3.item-show-name {
  margin-top: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

.item-show-price {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: gray;
}

.item-show-info button {
  position: absolute;
  bottom: 0;
}

.item-show-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

button.add-to-cart {
  width: 100%;
  font-size: 1.1em;
  background-color: #f981b2;
  color: white;
  border: 0px;
  transition: all 0.5s;
}

button.add-to-cart:hover {
  background-color: #f981b2;
  opacity: 0.8;
}

button.add-to-cart:focus {
  background-color: #707070;
}

button.add-to-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding: 8px 0 8px 0;
}

button.add-to-cart span:after {
  content: '+';
  color: white;
  position: absolute;
  opacity: 0;
  top: 4px;
  font-size: 1.2em;
  right: -15px;
  transition: 0.5s;
}

button.add-to-cart:hover span {
  padding-right: 20px;
}

button.add-to-cart:hover span:after {
  opacity: 1;
  right: 0;
}

.history-container {
  margin-left: 20px;
  width: 85.5%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 0px;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

table.ph {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px 30px;
}

table.ph td, table.ph th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.ph tr:hover:not(tr.ph-heading) {
  background-color:#f5f5f5
}

.card h4 {
  margin-top: 20px;
}

.ajax-show-new.form-group {
  display: inline-block;
}

.simple_form input[type='submit'] {
  margin-left: 0px;
}

// Similar Items on Show Page

.similar-items-container {
  width: 86%;
  margin-left: 20px;
  margin-bottom: 30px;
  overflow-x: scroll;
  border: 4px solid gray;
  border-radius: 10px;
}

table.similar-items {
  border-spacing: 30px;
  border-collapse: separate;
  table-layout: fixed;
}

table.similar-items td {
  vertical-align: top;
}

.sim-img-content {
  width: 150px;
}

.similar-items img {
  width: 100%;
}

.sim-item-name a {
  color: black;
  width: 100%;
  margin-top: 5px
}

.sim-item-price {
  width: 100%;
  margin-top: -5px;
}

.similar-items caption {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin-top: -30px;
  color: black;
  position: absolute;
}

// Cart

table#show-cart {
  width: 70%;
  margin: 0 auto;
  border-collapse: separate;
}

table#show-cart td {
  vertical-align: middle;
}

table#show-cart .cart-item-img img {
  width: 100px;
  height: 100px;
}

table#show-cart .cart-rm-item-btn {
  margin-top: -8px;
  background-color: #656EA9;
  border: 0px;
}

table#show-cart .cart-rm-item-btn:hover {
  background-color: #656EA9;
  opacity: 0.8;
}

table#cart-summary {
  border-spacing: 10px 5px;
  border-collapse: separate;
  margin-left: 55.5%;
}

h4.empty-cart-msg {
  margin: 0 auto;
}

.cart-actions {
  margin-top: 15px;
  margin-left: 14%;
}

.cart-actions input {
  font-family: "Open Sans", sans-serif;
  display: inline;
  width: 100%;
  background-color: #f981b2;
  border: 0px;
}

.cart-actions input:hover {
  background-color: #f981b2;
  opacity: 0.8;
}

.cart-actions input:focus, table#show-cart .cart-rm-item-btn:focus {
  background-color: #707070;
}

// New Item Form

form.new-item-form {
  width: 70%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

form.new-item-form textarea.form-control.desc {
  width: 96.5%;
}

form.new-item-form .form-actions {
  width: 100%;
  text-align: center;
}

form.new-item-form .form-actions.simple_form input[type='submit'] {
  margin: 0 auto;
}

form.new-item-form .form-actions input, form.new-item-form .form-actions a {
  background-color: #f981b2;
  border: 0px;
}

form.new-item-form .form-actions input:hover, form.new-item-form .form-actions a:hover {
  background-color: #f981b2;
  opacity: 0.8;
}

form.new-item-form .form-actions input:focus, form.new-item-form .form-actions a:focus {
  background-color: #707070;
}

// Orders Index

div.pagination {
  display: inline;
  position: absolute;
  margin-left: 14%;
  margin-top: 20px;
}

#orders-table-container {
  width: 93%;
  margin: 0 auto;
}

#orders-table-container ul.nav.nav-pills.nav-fill {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#orders-table-container ul.nav.nav-pills.nav-fill li.active a {
  background-color: #f981b2;
}

#orders-table-container ul.nav.nav-pills.nav-fill li:not(.active) a {
  color: #f981b2;
}

#orders-table-container ul.nav.nav-pills.nav-fill li {
  width: 49.5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// Schools Index

.add-school-btn {
  display: inline;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  margin-left: 64%;
  margin-top: 15px;
  background-color: #656EA9;
  border: 0px;
  width: 12.8%;

}

.add-school-btn:hover {
  background-color: #656EA9;
  opacity: 0.8;
}

.add-school-btn:focus {
  background-color: #707070;
}

// Users Index
